#IA1{background-image: url("../../graphics/inja-pavlic-vs4Eb73-AjU-unsplash.jpg"); }
#IA2{background-image: url("../../graphics/michael-dziedzic-dbpLrMALyiM-unsplash.jpg"); }
#IA3{background-image: url("../../graphics/helena-lopes-PGnqT0rXWLs-unsplash.jpg"); }
#IA4{background-image: url("../../graphics/hunters-race-MYbhN8KaaEc-unsplash.jpg"); }
#IA5{background-image: url("../../graphics/junior-moran-hrEJYRtBDrk-unsplash (1).png"); }
#IA5{background-image: url("../../graphics/hannah-busing-fPDF4GQJmxM-unsplash.jpg"); }
#IA6{background-image: url("../../graphics/valery-tenevoy-uruNsgg5j-o-unsplash.jpg"); }
#IA7{background-image: url("../../graphics/olga-delawrence-5616whx5NdQ-unsplash.jpg"); }
#IA8{background-image: url("../../graphics/gayatri-malhotra-WzfqobnrSVc-unsplash.jpg"); }
